name: Retire inactive contributors (Dry run)
on:
  workflow_dispatch:

jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: cucumber/action-retire-inactive-contributor@97a57375ff11ab3236880dec35da5d752d214487 # v0.4.0
      with:
        github-orgname: cucumber
        maximum-absence-before-retirement: 1 year
        alumni-team: alumni
        read-only: read-only
      env:
        GITHUB_TOKEN: ${{ secrets.RETIRE_INACTIVE_CONTRIBUTORS_TOKEN }} 
